.container {
  align-items: center;
  display: flex;
  gap: 20px;
  background-color: #eee;
  border-radius: 12px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px;
}
.group {
  align-items: center;
  display: flex;
  gap: 20px;
}
.box {
  border: none;
  border-radius: 12px;
  height: 40px;
  padding: 0 12px;
  width: 240px;
}
.container1 {
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  height: 100px;
}

.container2 {
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  height: 100px;
}

.Done {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.Working {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.App {
  width: 1200px;
  margin: 0 auto 0 auto;
  position: relative;
}

.todo {
  border: 5px solid #000;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  min-height: 200px;
  padding: 10px;
  width: 300px;
  position: relative;
}

.WorkingBox {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: flex-start;
  overflow-x: scroll;
}

.DoneBox {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: flex-start;
  overflow-x: scroll;
}
